<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <center><h1>{{name}}_DevOps==>Phone_Book Project API Service</h1></center>
    <center><button><a href="{{ url_for('index_page')}}">Search</a></button></center><br><br>   
    <center><button><a href="{{ url_for('delete_page')}}">Delete</a></button></center><br><br>   
    <center><button><a href="{{ url_for('add_page')}}">Add</a></button></center><br><br>   
    <center><button><a href="{{ url_for('update_page')}}">Update</a></button></center><br><br>   
</body>
</html>